<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <title>Facts</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
<div class="container">
  <div class="history-container">
    <h3>Легенда князя Лаборця</h3>
    <div class="history-container-image">
      <img src="" alt="">
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    </p>
  </div>
<div class="gray-layout">
  
</div>
<div class="back-btn">
  Назад
</div>
</div>
<!-- <script src="scripts/index.min.js"></script> -->
</body>
</html>