.gray-layout{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #ccc;  
}

.back-btn{
  font-family: $monserat;
  text-align: center;
  font-size: 1em;
  padding-top: 14px;
  z-index: 1;
  cursor: pointer;
  top: 20px;
  right: 25px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $action-shadow;
  transition: all .1s;
  &:active{
    box-shadow: inset 0px 0px 5px 0px #000000bf
  }
  @media (max-width: 1278px) {
    top: 27px;
    right: 155px;
  }
  @media (max-width: 1100px) {
    right: 70px;
  }
  @media (max-width: 695px) {
    right: 30px;
  }
}