@@include('html-parts/header.html', {
"title": "Facts"
})
<div class="container">
  <div class="history-container">
    <h3>Легенда князя Лаборця</h3>
    <div class="history-container-image">
      <img src="" alt="">
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam sunt quasi fuga. Ducimus eos doloribus neque
    mollitia unde incidunt eius magni, odit, quod numquam sunt eveniet, quae expedita ad.
    </p>
  </div>
@@include('html-parts/back-navigation.html')
</div>
@@include('html-parts/footer.html')