@@include('html-parts/header.html', {
  "title": "Legends"
})
@@include('html-parts/nav-bar.html')
  <div class="container">
    <div class="page">
      <h1>Легенди міста</h1>
      @@include('html-parts/article.html', {
        "article-header": "Легенда князя Лаборця",
        "article-description":"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, similique. Tenetur quisquam minima dolor earum voluptatum, ex illo corporis odio."
      })
      @@include('html-parts/article.html', {
        "article-header": "Легенда про білу Діву",
        "article-description":"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, similique. Tenetur quisquam minima dolor earum voluptatum, ex illo corporis odio."
      })
    </div>    
  </div>
@@include('html-parts/footer.html')
