@@include('html-parts/header.html', {
  "title": "Squares"
})
@@include('html-parts/nav-bar.html')
  <div class="container">
    <div class="page">
      <h1>Відомі міські площі</h1>
      @@include('html-parts/article.html', {
        "article-header": "Галькова площа",
        "article-description":"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, similique. Tenetur quisquam minima dolor earum voluptatum, ex illo corporis odio."
      })
      @@include('html-parts/article.html', {
        "article-header": "Площа Фенцика",
        "article-description":"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, similique. Tenetur quisquam minima dolor earum voluptatum, ex illo corporis odio."
      })
      @@include('html-parts/article.html', {
        "article-header": "Площа Жупанатська",
        "article-description":"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, similique. Tenetur quisquam minima dolor earum voluptatum, ex illo corporis odio."
      })
    </div>    
  </div>
@@include('html-parts/footer.html')
